@import 'tailwindcss';
@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/cerberus';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

@plugin '@tailwindcss/forms';
@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';


/* Improve scroll snapping */
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Better box sizing */
*, *::before, *::after {
    box-sizing: border-box;
}
@font-face {
    font-family: 'linotype-didot';
    src: url('/fonts/linotype-didot/DidotLTPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: 'Work Sans', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'linotype-didot', serif;
    font-weight: bold;
    font-style: italic;
  }
  